name: Android CI

on:
  push:
    branches: [ main, dev-* ]
    tags: [ v* ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Write key
      if: ${{ ( github.event_name != 'pull_request' && github.ref == 'refs/heads/main' ) || github.ref_type == 'tag' }}
      run: |
        if [ ! -z "${{ secrets.STORE_FILE }}" ]; then
          echo storePassword='${{ secrets.STORE_PASSWORD }}' >> keystore.properties
          echo keyAlias='${{ secrets.KEY_ALIAS }}' >> keystore.properties
          echo keyPassword='${{ secrets.KEY_PASSWORD }}' >> keystore.properties
          echo storeFile='key.jks' >> keystore.properties
          echo ${{ secrets.STORE_FILE }} | base64 --decode > app/key.jks
        fi
    - name: Checkout libxposed/api
      uses: actions/checkout@v3
      with:
        repository: libxposed/api
        path: libxposed/api

    - name: Checkout libxposed/service
      uses: actions/checkout@v3
      with:
        repository: libxposed/service
        path: libxposed/service

    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Build dependencies
      working-directory: libxposed
      run: |
        mkdir -p ~/.gradle
        echo 'org.gradle.caching=true' >> ~/.gradle/gradle.properties
        echo 'org.gradle.parallel=true' >> ~/.gradle/gradle.properties
        echo 'org.gradle.jvmargs=-Xmx2048m -Dfile.encoding=UTF-8 -XX:+UseParallelGC' >> ~/.gradle/gradle.properties
        echo 'android.native.buildOutput=verbose' >> ~/.gradle/gradle.properties
        cd api
        ./gradlew publishToMavenLocal
        cd ../service
        ./gradlew publishToMavenLocal
    - name: Build with Gradle
      run: ./gradlew build
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: nvcex-apk
        path: app/build/outputs/apk
